<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Template</title>
     <link rel="stylesheet" href="../stylesheet.css">
</head>
<body>
    <footer class="site-footer">
  <div class="footer-content">
    <p>&copy; 2026 Leonie Riedel</p>
    <p>Email: <a href="mailto:leonie@example.com">leonie@example.com</a></p>
    <p>
      <a href="impressum.html">Impressum</a> | 
      <a href="privacy.html">Datenschutz</a>
    </p>
  </div>
</footer>
</body>
</html>