<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header Template</title>
  <link rel="stylesheet" href="../stylesheet.css">
</head>
<body>
  <header class="site-header">
    <nav class="nav">
      <div class="logo">Leonie Riedel</div>
      <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="work.html">Work</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
   </main>
</body>
</html>
